@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}
<div class="background-img">
    <div class="d-flex justify-content-center flex-column">
        <div class="overlay"></div>
        <div style="z-index:1;border-radius:20px;" class="bg-dark d-flex justify-content-center flex-column w-75  my-3 mx-auto" >
            <div class="d-flex justify-content-center">

                <video style="border-radius:10px;" loop muted autoPlay class="w-75 my-4">
                    <source src="~/Media/Su Stampu _La tua pizzeria di quartiere_ - video promozionale.mp4" type="video/mp4">
                </video>
            </div>
            <div class="px-3 text-center">

                <h1 class="text-white">La pizza come non l'hai mai mangiata</h1>
                <p class="text-white w-50 mx-auto my-3">
                    La mia pizza è fatta con ingredienti di alta qualità, selezionati con cura per garantire la massima bontà. Utilizzo solo i migliori pomodori, mozzarella fresca e altri ingredienti freschi e genuini per creare la mia pizza.

                    Inoltre, la mia pizza è cotta in forno a legna per garantire una cottura uniforme e una croccantezza perfetta.
                </p>
            </div>
        </div>

        <div style="z-index:1;margin-top:200px;border-radius:20px;" class="bg-dark d-flex justify-content-center flex-column w-75  mx-auto">
            <div class="d-flex justify-content-center w-50 my-3 mx-auto ">

                <img style ="width:90%;border-radius:10px" src="~/Media/Eq_it-na_pizza-margherita_sep2005_sml.jpg" />
            </div>
            <div class="px-3 text-center">

                <h1 class="text-white">Solo prodotti biologici</h1>
                <p class="text-white w-50 mx-auto my-3 ">
                    La nostra pizza è preparata con solo i migliori ingredienti, selezionati con cura per garantire la massima qualità e il massimo sapore. Utilizziamo solo pomodori maturati al sole, mozzarella fresca di alta qualità e ingredienti freschi e naturali.
                </p>
            </div>
        </div>
    </div>
</div>
x




